* {
  margin: 0;
  padding: 0;
}

.navigation {
  height: 74px;
  display: flex;
  justify-content: space-between;
  font-family: var(--font1);
  align-items: center;
}
.content {
  display: flex;
  /* height: 390px; */
  margin-top: 30px;
  position: relative;
}
.content::after {
  content: "";
  background-image: url(../img/home1.svg);
  position: absolute;
  width: 100%;
  height: inherit;
  opacity: 0.15;
  background-size: cover;
}
.content-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  z-index:1; 
}
.footer {
  height: 40px;
}
.nav-left ul li {
  list-style: none;
  margin: 0 14px;
  display:flex;
  justify-content: center;
  align-items: center;
}
.nav-left {
  display: flex;
}
.nav-left ul {
  display: flex;
  margin: 0 10px;
}
.nav-left ul li a {
  text-decoration: none;
  color: black;
}
.nav-left ul li a:hover {
  color: red;
}

.im {
  height: 300px;
  border-radius: 30%;
  border: 2px solid;
}

.content-right {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.btn:hover {
  background-color: red;
  color: white;
}
.home_articles {
  display: flex;
  flex-direction: column;
  background-color: rgb(243, 236, 236);
  padding: 10px;
}
.footer {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  height: 50px;
  align-items: center;
}
.footer a {
  color: white;
}
.home_article {
  display: flex;
}
.home_article_img {
  width: 200px;
  height: 200px;
  padding: 10px;
}
.home-article-content {
  padding: 10px;
}
.home-article-content a {
  text-decoration: none;
  color: black;
}
@media screen and (max-width:700px){
  .navigation{
    flex-direction: column;
  }
  .nav-left{
    flex-direction: column;
    text-align: center;
  }
  .content-right{
    display: none;
  }
  .home_article{
    flex-direction: column;
  }
}

#add{
  height:50px;
  width:50px;
  z-index: 5;
  position: fixed;
  left:85vw;
  top:90vh;
  cursor:pointer;
  transition-duration: 0.8s;
}
#add:hover{
  transform:rotate(180deg);
}